{
    "presets":["react","latest"],
    "plugins":[
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-export-extensions"
    ],
    "env": {
    	"production": {
      		"presets": ["react-optimize"]
    	}
  	}
}
