{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-export-extensions",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }], "react"]
    }
  }
}
