{
    "presets":["react","es2015"],
    "plugins":[
        "transform-object-rest-spread",
        "transform-async-to-generator",
        "transform-object-assign",
        "transform-class-properties",
        "transform-runtime"
    ]
}