node_modules/
discards/
npm-debug.log
.git/
.settings/
.project
vendor/
client/**/build/
client/**/dist/
client/__coverage__/
# /client/**/stylesheet/
# /client/**/*.jsx
# /client/**/__tests__/
# /server/**/__tests__/
