node_modules/
npm-debug.log
typings/
.vscode/
.happypack/
.git/
.nva/temp/
# vendor/
client/**/build/
# client/**/dist/
client/__coverage__/
# /client/**/stylesheet/
# /client/**/*.jsx
# /client/**/__tests__/
# /server/**/__tests__/
