.search-icon{
    background:url(../sprites/search.png) no-repeat 0 0;
    background-size:25%;
}
.refresh-icon{
    background:url(../sprites/refresh.png) no-repeat 50% 50%;
    background-size:50%;
}
