.search-icon{
    background:url(search.png) no-repeat 0 0;
    background-size:25%;
}
.refresh-icon{
    background:url(refresh.png) no-repeat 0 0;
    background-size:25%;
}
.more-icon{
    background:url(more_unfold.png) no-repeat 0 0;
    background-size:25%;
    width:50px;
    height:20px;
}
