@import "../common/stylesheet/common.styl";
@import "../common/stylesheet/sprites.styl";

.events-content{
    font-size:.7rem;
    max-width:20rem;
    margin:0 auto;
    background:#FFF;
    border:0.05rem solid #DDD;
    h3{
        line-height:1.6rem;
        padding:0 .4rem;
        background:#EEE;
    }
    .events-form{
        padding:.4rem .5rem;
        display:flex;
        justify-content:center;
        align-items:center;
        &>input{
            padding:0 .4rem;
            margin:0;
            border:0 none;
            outline:0 none;
            line-height:1.3rem;
            border:0.05rem solid #CCC;
            font-size:.8rem;
            border-radius:.15rem;
        }
        &>button{
            background:#F1F1F1;
            padding:0 .4rem;
            margin:0 0 0 .5rem;
            border:0 none;
            outline:0 none;
            line-height:1.3rem;
            border:0.05rem solid #CCC;
            font-size:.8rem;
            border-radius:.15rem;
        }
        p{
            &>label{
                padding:0 .4rem 0 0;
                color:#999;
            }
        }
    }

    .event{
        padding:.4rem .5rem;
        border-bottom:1px solid #CCC;
        &:last-child{
            border:0 none;
        }
        &>p{
            margin:0;
            line-height:1.25rem;
            &>b{
                color:#4100FF;
                font-weight:400;
            }
        }
        .event-title{
            display:flex;
            justify-content:center;
            align-items: center;
            padding-bottom:.5rem;
            &>img{
                width:2.5rem;
                border-radius:.2rem;
            }
            &>span{
                flex:1;
                padding:0 .4rem;
                &>p{
                    margin:0;
                    line-height:1.2rem;
                    color:#4100FF;
                    &:last-child{
                        font-size:12px;
                        color:#888;
                    }
                }
            }
        }
    }
}
