{% extends './layout.html' %}
{% block title %}List{% endblock %}
{% block css %}
<!-- start:css -->
<link rel="stylesheet" href="/dist/vendor/base-7915161e.css"/>
<link rel="stylesheet" href="/dist/detail/detail-4af564cb.css"/>
<!-- end:css -->
{% endblock %}
{% block content %}
<div id='app'>{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="/dist/vendor/base-301229a4.js"></script>
<script src="/dist/detail/detail-4af564cb.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->

<!-- end:browser-sync -->
{% endblock %}
