{% extends './layout.html' %}
{% block title %}List{% endblock %}
{% block css %}
<!-- start:css -->
<link rel="stylesheet" href="/vendor/base-81bb9e51.css"/>
<link rel="stylesheet" href="/detail/detail-f153cda6.css"/>
<!-- end:css -->
{% endblock %}
{% block content %}
<div id='app'>{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="/vendor/base-7bee9ac1.js"></script>
<script src="/detail/detail-f153cda6.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->

<!-- end:browser-sync -->
{% endblock %}
