{% extends './layout.html' %}
{% block title %}List{% endblock %} 
{% block css %}
<!-- start:css -->
<link rel="stylesheet" href="dist/error/error-5e8a6745.css"/>
<link rel="stylesheet" href="dist/vendor/common-542a5d59.css"/>
<!-- end:css -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="dist/vendor/react_base-5d321d33.js"></script>
<script src="dist/error/error-c83a0fc3.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->































<!-- end:browser-sync -->
{% endblock %}