{% extends './layout.html' %} {% block title %}List{% endblock %} {% block css %}
<!-- start:css -->
<link rel="stylesheet" href="/dist/vendor/common-d0bd3f3a.css"/>
<link rel="stylesheet" href="/dist/vendor/common-b6bf4033.css"/>
<link rel="stylesheet" href="/dist/error/error-79f8de3d.css"/>
<!-- end:css -->
{% endblock %} {% block content %}
<div class="index-container" id='app'>{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %} {% block js %}
<!-- start:js -->
<script src="/dist/vendor/vue-96724fd5.js"></script>
<script src="/dist/error/error-bf2f28ad.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->

<!-- end:browser-sync -->
{% endblock %}
