{% extends './layout.html' %}
{% block title %}List{% endblock %} 
{% block css %}
<!-- start:css --><link rel="stylesheet" href="/hn/bundle/error/dist/error-1b8c3310e3daccde11cd.css"/><!-- end:css -->
{% endblock %} 
{% block content %}
<div class="error-container">
    <div id="error">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="/hn/bundle/error/dist/error-1b8c3310e3daccde11cd.js"></script>
<script src="/hn/vendor/dist/react-1b8c3310e3daccde11cd.js"></script>

<!-- end:js -->
{% endblock %}
