{% extends "./layout.html" %} {% block title %}Detail{% endblock %} {% block css %}
<!-- start:css -->
<!-- end:css -->
{% endblock %} {% block content %}
<div class="index-container">
    <div id="weather">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %} {% block js %}
<!-- start:js -->
<script src="vendor/dist/react-73bdbb87.js"></script>
<script src="{{baseURL}}:7000/hmr/index.js"></script>
<script src="{{baseURL}}:7000/hmr/common.js"></script>
<!-- end:js -->
{% endblock %}
