{% extends "./layout.html" %} {% block title %}Detail{% endblock %} {% block css %}
<!-- start:css --><link rel="stylesheet" href="bundle/index/dist/index-bd9aaebc.css"/><!-- end:css -->
{% endblock %} {% block content %}
<div class="index-container">
    <div id="weather">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %} {% block js %}
<!-- start:js -->
<script src="bundle/index/dist/index-e22fbf64.js"></script>
<script src="vendor/dist/react-e22fbf64.js"></script>

<!-- end:js -->
{% endblock %}