{% extends "./layout.html" %} {% block title %}Detail{% endblock %} {% block css %}
<!-- start:css -->
<link rel="stylesheet" href="dist/index/index-5281c7e5.css"/>
<link rel="stylesheet" href="dist/vendor/common-542a5d59.css"/>
<!-- end:css -->
{% endblock %} {% block content %}
<div class="index-container">
    <div id="weather">{{ markup|safe }}</div>
</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %} {% block js %}
<!-- start:js -->
<script src="dist/vendor/react-34d45149.js"></script>
<script src="dist/index/index-c83a0fc3.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->

<!-- end:browser-sync -->
{% endblock %}
