{% extends './layout.html' %}
{% block title %}List{% endblock %}
{% block css %}
<!-- start:css -->
<link rel="stylesheet" href="/dist/vendor/common-d0bd3f3a.css"/>
<link rel="stylesheet" href="/dist/user/user-aa66859f.css"/>
<!-- end:css -->
{% endblock %}
{% block content %}
<div class="error-container" id='app'>{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="/dist/vendor/react-0b7b2f2e.js"></script>
<script src="/dist/user/user-d303dca4.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->

<!-- end:browser-sync -->
{% endblock %}
