{% extends './layout.html' %}
{% block title %}List{% endblock %}
{% block css %}
<!-- start:css -->
<link rel="stylesheet" href="/dist/vendor/common-d0bd3f3a.css"/>
<!-- end:css -->
{% endblock %}
{% block content %}
<div class="error-container" id='app'>{{ markup|safe }}</div>
<script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
{% endblock %}
{% block js %}
<!-- start:js -->
<script src="/dist/vendor/react-a5ca3981.js"></script>
<script src="http://172.18.4.78:7000/hmr/user.js"></script>
<!-- end:js -->
<!-- start:browser-sync -->
<script src="http://172.18.4.78:7000/bs/browser-sync-client.js"></script>
<!-- end:browser-sync -->
{% endblock %}
